[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nela/Desktop/odin_on_rails]
row=0
col=1

[/home/nela/Desktop/my_first_rails_app]
row=2
col=1

[/home/nela/Desktop/code.desktop]
row=1
col=1

[2019-10-10-18-52-14-12]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/nela]
row=3
col=0

